<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BarrageRenderer_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2315A461DF5604200DF1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2315A5F1DF5604200DF1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2315A6A1DF5604200DF1866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
